.footer{
    margin-top: 5%;
}
/* Add this CSS to remove underline and change link color */
/* .navbar-nav .nav-link {
    text-decoration: none;
    color: ; /* Change this to the color you want 
  }
  
  /* Add this CSS to remove underline and change link color for dropdown items 
  .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: #000; /* Change this to the color you want 
  } */

  Link{
    text-decoration: "none";
    color: black;
  }

  .special{
    overflow:hidden
  }

  .userName{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 20px;


  }

  .user{
    height: 40px;
    margin-top: 5px;
    border-radius: 100%;
    /* margin-top: 8px;
    margin-right: 10px; */
    /* margin-left: 12%; */
  }

  .btn{
    height: 50px;
    width: 100px;
  }

  .btn2{
    width: 120px;
  }
  .btn3{
    width: 120px;
  }

  #basic-nav-dropdown{
    margin-left: 20px;
  }