.Home{
    width: 80%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    padding: 10px;
    margin-top: 2%;
  }
  .back{
    position: absolute;
    z-index: -1;
    height: 30%;
    width:40%;
    margin-top: 6%;
    margin-left: 0;
  }

  .frame{
    position: absolute;
    z-index: -2;
    height: 80%;
    width: 82%;
  }

  .grid-container > div {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    font-size: 45px;
    font-weight: 400;
    
    
  }
  .photo{
    border-radius: 100%;
  }
  span{
    font-size: 30px;
    font-weight: 200;
  }

  .cContainer{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    
    
  }

  .checks{
    background-color: rgb(247, 237, 218);
    /* height: 40%; */
    padding: 20px;
    border-radius: 4%;
    border: 2px solid rgb(174, 145, 91);
    margin: 5px;
    /* font-weight: 300; */
    position: relative;
    
    

  }

  .cont{
    line-height: 20px;
    margin-top: 10px;
    font-size: 14px;
  }

  .tick{
   
    position: absolute; /* Add this line */
    top: -17%; /* Adjust this value to control how much of the tick is outside the div */
    left: -7.5%;
    height: 30px;
    width: 30px;

  }

  .banner{
        margin-top: 5%;
  }
.banner2_side{
    position: absolute;
    display: inline;
    font-size: 100px;
    writing-mode: vertical-rl; /* Vertical writing mode, right-to-left */
    /* text-orientation: upright;  Ensures text is upright in vertical writing mode  */
    white-space: nowrap;
    margin-top: 15%;
    /* padding-top: 20%; */
    margin-left: 32%;
    font-weight: 200;
}
.banner2{
    margin: 0 !important;
}
.sidetext{
    display: inline;
    float: left;
    margin-left: 20%;
    width: 30%;
}

  .test {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}
.zabardasti{
   
    
   
    margin-top: 2%;
    margin-bottom: 5%;
}

  
 