.formL{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    
    
   
   
    
}

.inner{
    /* border: 1px solid black; */
    padding: 2%;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    box-shadow: 0px 5px 10px rgba(11, 11, 11,0.3);

}

.log{
    margin-top:10% ;
    margin-bottom: 15%;

}

.inAtt{
    width: 100%;
    margin-bottom: 15%;
    border: none;
      border-bottom: 1px solid #000; /* Set the color of the dashed line */
      outline: none; /* Remove the default focus border */
      padding: 5px;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Optional, if you want to center text within the 'inner' div */
}