/* .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    
  } */
  
  /* .ccard {
    text-align: center;
  
   Add other styles for .ccard as needed 
  */

  .card-container {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .ccard {
    box-sizing: border-box;
  text-align: center;
  flex-basis: calc(25% - 20px); /* Set the width of each card to 25% minus the gap */
  margin: 10px; /* Adjust margin as needed */
  padding: 15px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 10px;
  }
  

.p{
    margin-top: 0;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 2%;
}
.Compa{
    margin: 0;
}

.mType{
    margin-top: 2%;
    font-weight: 100;
    margin-bottom: 0%;
    
}

.topimg{
    width: 100%;
    height: 400px;
}

/* .ccard{
    border: 1px solid rgb(239, 239, 239);
    border-radius: 10px;
    width: 17%;
    text-align: center;
} */

.mbtn{
    width: 90%;
    margin: 10px;
}


