.form{
    width: 42%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 30%;
    padding: 2%;
    box-shadow: 0px 5px 10px rgba(11, 11, 11,0.3);
    border-radius: 5px;
   
    
}

.App{
    width: 100%;
}
.att{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 10px;
    margin-left: 2px;
}

input{
    margin-bottom: 2px;
    width: 100%;
    height: 35px;
}

.heading{
    margin-left: 40%;
    margin-right: 50%;
}

Button{
    
    width: 100%
}